.container {
  width: 100%;
  margin-bottom: 16px;
}

.username {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px;

  .user-text {
    font-weight: 600;
    font-size: 14px;
  }
}

.comment-container {
  width: 100%;
  display: flex;
  flex: 3;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .comment-body {
    color: #787878;
    font-size: 14px;
    font-weight: 300;
  }
}
