<fa-icon
  [icon]="arrowLeft"
  class="arrow-icon"
  (click)="hidePost($event)"
></fa-icon>
<div class="row-start container">
  <div class="username">
    <p class="user-text">{{ user.username }}</p>
  </div>
  <div class="post-container">
    <div>
      <h4>{{ post.title }}</h4>
      <p class="post">{{ post.body }}</p>
    </div>

    <div
      class="row-start comment-icon"
      (click)="showComments()"
      *ngIf="!show_comments"
    >
      <fa-icon [icon]="commentIcon" class="c-icon"></fa-icon>
      <p>{{ comments.length }}</p>
    </div>
  </div>
</div>

<div class="row-start container" *ngIf="show_comments">
  <div class="username">
    <p class="user-text">&nbsp;</p>
  </div>

  <div class="comments-container">
    <div class="row-between title-container">
      <h4 class="comment-title">All Comments</h4>
      <p class="hide" (click)="hideComments()">Hide</p>
    </div>

    <div *ngFor="let comment of comments; let i = index">
      <comments-detail
        [comment]="comment"
        [user_name]="user.username"
      ></comments-detail>
    </div>
  </div>
</div>
