.container {
  width: 100%;
  margin-bottom: 16px;
}

.username {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px;
  .user-text {
    font-weight: 700;
  }
}

.post-container {
  width: 100%;
  display: flex;
  flex: 6;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  h4 {
    color: #454545;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 16px;
  }
  .post {
    color: #787878;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 16px;
  }
}

.comment-icon {
  font-size: 14px;
  margin-right: 16px;
  color: #548ce7;
  cursor: pointer;
}

.c-icon {
  color: #548ce7;
  margin-right: 8px;
}

.comments-container {
  width: 100%;
  display: flex;
  flex: 6;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.title-container {
  width: 100%;
}

.comment-title {
  margin-left: 8px;
  color: #454545;
}

.hide {
  color: #659df9;
  cursor: pointer;
}

.arrow-icon {
  color: #548ce7;
  margin-right: 8px;
  font-size: 24px;
  cursor: pointer;
}
