<div class="row-between">
  <div class="cinta" (click)="goToDashboard()">
    <h2>Cinta Coding</h2>
  </div>
  <div class="main-title">
    <div class="title-container">
      <h5>Dashboard</h5>
    </div>
  </div>
  <div class="welcome" (click)="goToProfile()">
    <h2>
      Welcome, <b>{{ name }}</b>
    </h2>
  </div>
</div>

<div class="content-container">
  <div class="search-container row-between">
    <input
      type="text"
      class="input"
      placeholder="Search"
      [(ngModel)]="search_query"
    />
    <fa-icon [icon]="faSearch" class="search-icon"></fa-icon>
  </div>

  <div class="posts-container">
    <div
      *ngFor="let post of slicePostByPage(page); let i = index"
      class="post-title-container"
    >
      <post-title-list [post]="post"></post-title-list>
    </div>
  </div>
</div>
