.cinta {
  width: fit-content;
  cursor: pointer;
}

.main-title {
  width: auto;
  padding: 0px 8px;
  border-bottom: 2px solid #548ce7;
  h5 {
    margin: 4px 2px;
    color: #676767;
  }
}

.wellcome {
  cursor: pointer;

  b {
    color: #548ce7;
  }
}

.posts-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.greeting-image {
  width: 94%;
  object-fit: contain;
  margin: 32px auto;
}
